#map {
  height: 500px;
}

.leaflet-control-attribution {
  display: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  & b {
    color: #212529;
  }
  & h4 {
    margin: 0 0 5px;
    color: #777;
  }
}

.main__section_map {
  & span {
    color: #212529;
    font-size: 0.8rem;
    input {
      margin-right: 5px;
    }
  }
  & .switch-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.legend {
  & div {
    font-size: 14px;
    margin: 0 5px;
  }
  line-height: 18px;
  color: #555;
  display: flex;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend-gradient {
  width: 100px;
  &__yellow {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 0, 0.6) 100%
    );
  }
  &__green {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(0, 255, 0, 0.6) 100%
    );
  }
  &__red {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 0, 0, 0.6) 100%
    );
  }
}
