.main {
  &__content {
    &_table {
      table {
        border: 1px solid #fff;
        th,
        td {
          text-align: center;
        }
        tfoot {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  &__buttons-block_table {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
}

// &__swicher {
//   padding: 1px;
//   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1), -1px -1px 1px rgba(0, 0, 0, 0.1);
//   width: 100px;
//   height: 36px;
//   position: absolute;
//   top: 30px;
//   right: 30px;
//   border-radius: 18px;
//   background-color: darkslategray;
//   transition: 0.8s;
//   button {
//     width: 28px;
//     height: 28px;
//     border: none;
//     border-radius: 50%;
//     background-color: #fff;
//     position: absolute;
//     left: 4px;
//     top: 4px;
//     outline: none;
//     cursor: pointer;
//     box-shadow: inherit;
//     transition: 0.8s;
//   }
//   span {
//     font-weight: bold;
//     font-size: 1.3rem;
//   }
//   .swicher-train {
//     color: darkslategray;
//     visibility: hidden;
//   }
//   .swicher-play {
//     color: white;
//     visibility: visible;
//   }
// }
// &__swicher-active {
//   background-color: skyblue;
//   button {
//     background-color: #fff;
//     left: auto;
//     right: 4px;
//   }
//   .swicher-train {
//     visibility: visible;
//   }
//   .swicher-play {
//     visibility: hidden;
//   }
// }
